#sticky-nav{
    position:sticky;
    top: 0;
    background-color: black;
    padding: 20px;
}
#sticky-nav a{
    display:inline-block;
    color:white;
    text-align: center;
    padding: 10px 15px;
    font-size: large;
}
header{
    background: goldenrod;
    color:white;
    padding: 50px 50px;
    text-align: center;
}
main{
    padding: 20px;
}
body{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}
