#flex-container{
    display: flex;
    height: 300px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.box{
    width: 80px;
    height: 80px;
    background-color: orange;
    margin: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}
#flex-container div:nth-child(2){
    order: -1;
}

#flex-container div:nth-child(3){
    align-self: flex-start;
}